@import '~antd/dist/antd.css';

*{
    margin: 0;
    padding: 0;
}

.add {
    color: red;
}
body{
    background-color: #f3f4f7;
}


/* 改变滚动条的样式，仅适用于webkit内核的浏览器 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    position: absolute;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}